<html>
<head>
{{> header}}
<title>Login page</title>
<style>
  body{
  background-color: #21252940;
  }
  #login-card {
    padding-top: 5%;
    padding-left: 10%;
    float: left;
  }
    #register-card {
    padding-top: 5%;
    padding-right: 10%;
    float: right;
  }
  /*.container {
    padding-left: 5%;
    padding-right: 5%;
  }*/
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Linked IN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
<div id="login-card">
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">User</h4>
    <p class="card-text">Get hired in dream position and company.</p>
    <button type="button" class="btn btn-outline-secondary">login</button>
  </div>
</div>
</div>
<div id="register-card">
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;"> 
  <div class="card-body">
    <h4 class="card-title">Company</h4>
    <p class="card-text">Publish your Organisation. Search for talant</p>
    <button type="button" class="btn btn-outline-secondary">login</button>
  </div>
</div>
</div>
</div>
